body {
  background-color: #2b2c28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}

h1 {
  color: #c7f9cc;
}

.card-title {
  color: #2b2c28;
}

.card-link {
  color: #45925f;
}

.card-link:hover {
  color: #416e50;
}
